# Виртуальное окружение
venv/
env/

# Кэш питона
__pycache__/
*.pyc

# Базы данных (чтобы не пушить тяжелые бинарники с историей в репозиторий)
*.db
*.sqlite3

# Файлы с секретами и ключами (на будущее)
.env